diabetics.json
{"total_rows":4,"offset":0,"rows":[
{"id":"_design/library","key":"_design/library","value":{"rev":"1-26ca6ebc009218962911a51bb3eac067"},"doc":{"_id":"_design/library","_rev":"1-26ca6ebc009218962911a51bb3eac067","views":{"flow_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2 && p[2] == \"flow\") {\n                                                var meta = { path: p.slice(3).join(\"/\") };\n                                                emit([p[0], p[2]], meta);\n                                            }\n                                        }"},"lib_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2) {\n                                                if (p[2] != \"flow\") {\n                                                    var pathParts = p.slice(3, -1);\n                                                    for (var i = 0; i < pathParts.length; i++) {\n                                                        emit([p[0], p[2], pathParts.slice(0, i).join(\"/\")], { dir: pathParts.slice(i, i + 1)[0] });\n                                                    }\n                                                    var meta = {};\n                                                    for (var key in doc.meta) {\n                                                        meta[key] = doc.meta[key];\n                                                    }\n                                                    meta.fn = p.slice(-1)[0];\n                                                    emit([p[0], p[2], pathParts.join(\"/\")], meta);\n                                                }\n                                            }\n                                        }"}}}},
{"id":"nodered/credential","key":"nodered/credential","value":{"rev":"2-b7f158a432c32c6247e73192fcd88ed0"},"doc":{"_id":"nodered/credential","_rev":"2-b7f158a432c32c6247e73192fcd88ed0","credentials":{"$":"87d2bc4fe983c59f2d8153f3ccc18aa3By+dWSyn3qTWRsV5jCQU5QqOrZUeLQ=="}}},
{"id":"nodered/flow","key":"nodered/flow","value":{"rev":"6-bc040b7868e66bbb90bbcb1d507bae2a"},"doc":{"_id":"nodered/flow","_rev":"6-bc040b7868e66bbb90bbcb1d507bae2a","flow":[{"id":"9b27ce4e.19152","type":"tab","label":"Flow 1","disabled":true,"info":"{\n  \"array\": [\n    1,\n    2,\n    3\n  ],\n  \"boolean\": true,\n  \"color\": \"gold\",\n  \"null\": null,\n  \"number\": 123,\n  \"object\": {\n    \"a\": \"b\",\n    \"c\": \"d\"\n  },\n  \"string\": \"Hello World\"\n}"},{"id":"7bb57f07.d521a","type":"tab","label":"Diabetic Prediction Model","disabled":false,"info":""},{"id":"2ccacf6c.59531","type":"ui_group","z":"","name":"New","tab":"9dc2c38d.8dc77","order":1,"disp":true,"width":"6","collapse":false},{"id":"9dc2c38d.8dc77","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac1f260e.9d9828","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c1ae355.1ae8","type":"ui_group","z":"","name":"Diabetic Prediction Model","tab":"114531ee.c4775e","order":1,"disp":true,"width":"6","collapse":false},{"id":"114531ee.c4775e","type":"ui_tab","z":"","name":"Enter the Values","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"9b27ce4e.19152","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"HELLO","payload":"Hello Node-RED!","payloadType":"str","x":171,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"9b27ce4e.19152","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"5a3569af.7bc608","type":"ui_form","z":"7bb57f07.d521a","name":"","label":"","group":"9c1ae355.1ae8","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"P","type":"number","required":true,"rows":null},{"label":"Glucose","value":"G","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"BP","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"S","type":"number","required":true,"rows":null},{"label":"Insulin","value":"I","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"DPF","type":"number","required":true,"rows":null},{"label":"Age","value":"A","type":"number","required":true,"rows":null}],"formValue":{"P":"","G":"","BP":"","S":"","I":"","BMI":"","DPF":"","A":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["684e0847.149d48"]]},{"id":"684e0847.149d48","type":"function","z":"7bb57f07.d521a","name":"Global Variables","func":"global.set(\"Pregnancies\",msg.payload.P)\nglobal.set(\"Glucose\",msg.payload.G)\nglobal.set(\"BloodPressure\",msg.payload.BP)\nglobal.set(\"SkinThickness\",msg.payload.S)\nglobal.set(\"Insulin\",msg.payload.I)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.DPF)\nglobal.set(\"Age\",msg.payload.A)\nvar apikey = \"YRqcT5SP6PrN4msqbGMP_0LCp1By3Z0ByUDcZoTc0o_6\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["3ab0c212.5cc4ee","9c947d9d.38a8f"]]},{"id":"3ab0c212.5cc4ee","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"9c947d9d.38a8f","type":"http request","z":"7bb57f07.d521a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":40,"wires":[["13f9296c.a79277","acd53c47.c388c"]]},{"id":"13f9296c.a79277","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"acd53c47.c388c","type":"function","z":"7bb57f07.d521a","name":"","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucose = global.get(\"Glucose\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar DiabetesPedigreeFunction = global.get(\"DiabetesPedigreeFunction\")\nvar Age = global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\":[[Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["602d23be.a2a52c"]]},{"id":"602d23be.a2a52c","type":"http request","z":"7bb57f07.d521a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/989cea9c-393c-43d5-9e14-d2ac5f6197e5/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["9dfc88f4.86cb88","87c3bc96.efc65"]]},{"id":"87c3bc96.efc65","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"9dfc88f4.86cb88","type":"function","z":"7bb57f07.d521a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["87c3bc96.efc65","eece5fe9.f3ff"]]},{"id":"eece5fe9.f3ff","type":"ui_text","z":"7bb57f07.d521a","group":"9c1ae355.1ae8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":280,"wires":[]}]}},
{"id":"nodered/settings","key":"nodered/settings","value":{"rev":"5-2d25ca37722217d94009c11d1471d0da"},"doc":{"_id":"nodered/settings","_rev":"5-2d25ca37722217d94009c11d1471d0da","settings":{"bluemixConfig":{},"nodes":{"node-red":{"name":"node-red","version":"1.1.3","local":false,"nodes":{"inject":{"name":"inject","types":["inject"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/20-inject.js"},"debug":{"name":"debug","types":["debug"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/21-debug.js"},"complete":{"name":"complete","types":["complete"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/24-complete.js"},"catch":{"name":"catch","types":["catch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/25-catch.js"},"status":{"name":"status","types":["status"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/25-status.js"},"link":{"name":"link","types":["link in","link out"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/60-link.js"},"comment":{"name":"comment","types":["comment"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/90-comment.js"},"unknown":{"name":"unknown","types":["unknown"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/common/98-unknown.js"},"function":{"name":"function","types":["function"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/10-function.js"},"switch":{"name":"switch","types":["switch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/10-switch.js"},"change":{"name":"change","types":["change"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/15-change.js"},"range":{"name":"range","types":["range"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/16-range.js"},"template":{"name":"template","types":["template"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/80-template.js"},"delay":{"name":"delay","types":["delay"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/89-delay.js"},"trigger":{"name":"trigger","types":["trigger"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/function/89-trigger.js"},"tls":{"name":"tls","types":["tls-config"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/05-tls.js"},"httpproxy":{"name":"httpproxy","types":["http proxy"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/06-httpproxy.js"},"mqtt":{"name":"mqtt","types":["mqtt in","mqtt out","mqtt-broker"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/10-mqtt.js"},"httpin":{"name":"httpin","types":["http in","http response"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/21-httpin.js"},"httprequest":{"name":"httprequest","types":["http request"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/21-httprequest.js"},"websocket":{"name":"websocket","types":["websocket in","websocket out","websocket-listener","websocket-client"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/22-websocket.js"},"tcpin":{"name":"tcpin","types":["tcp in","tcp out","tcp request"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/31-tcpin.js"},"udp":{"name":"udp","types":["udp in","udp out"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/network/32-udp.js"},"CSV":{"name":"CSV","types":["csv"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/parsers/70-CSV.js"},"HTML":{"name":"HTML","types":["html"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/parsers/70-HTML.js"},"JSON":{"name":"JSON","types":["json"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/parsers/70-JSON.js"},"XML":{"name":"XML","types":["xml"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/parsers/70-XML.js"},"YAML":{"name":"YAML","types":["yaml"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/parsers/70-YAML.js"},"split":{"name":"split","types":["split","join"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/sequence/17-split.js"},"sort":{"name":"sort","types":["sort"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/sequence/18-sort.js"},"batch":{"name":"batch","types":["batch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/deps/0/node_modules/@node-red/nodes/core/sequence/19-batch.js"}}},"node-red-contrib-ibm-db2":{"name":"node-red-contrib-ibm-db2","version":"0.3.1","local":false,"nodes":{"Db2":{"name":"Db2","types":["Db2","Db2 out","Db2 in"],"enabled":true,"local":false,"module":"node-red-contrib-ibm-db2","file":"/home/vcap/deps/0/node_modules/node-red-contrib-ibm-db2/98-ibm-db2.js"}}},"node-red-node-cf-cloudant":{"name":"node-red-node-cf-cloudant","version":"0.2.17","local":false,"nodes":{"cloudant-cf":{"name":"cloudant-cf","types":["cloudant","cloudant out","cloudant in"],"enabled":true,"local":false,"module":"node-red-node-cf-cloudant","file":"/home/vcap/deps/0/node_modules/node-red-node-cf-cloudant/77-cloudant-cf.js"}}},"node-red-node-openwhisk":{"name":"node-red-node-openwhisk","version":"0.3.4","local":false,"nodes":{"openwhisk":{"name":"openwhisk","types":["openwhisk-service","openwhisk-trigger","openwhisk-action"],"enabled":true,"local":false,"module":"node-red-node-openwhisk","file":"/home/vcap/deps/0/node_modules/node-red-node-openwhisk/openwhisk/openwhisk.js"}}},"node-red-node-rbe":{"name":"node-red-node-rbe","version":"0.2.9","local":false,"nodes":{"rbe":{"name":"rbe","types":["rbe"],"enabled":true,"local":false,"module":"node-red-node-rbe","file":"/home/vcap/deps/0/node_modules/node-red-node-rbe/rbe.js"}}},"node-red-node-tail":{"name":"node-red-node-tail","version":"0.1.1","local":false,"nodes":{"tail":{"name":"tail","types":["tail"],"enabled":true,"local":false,"module":"node-red-node-tail","file":"/home/vcap/deps/0/node_modules/node-red-node-tail/28-tail.js"}}},"node-red-node-watson":{"name":"node-red-node-watson","version":"0.9.2","local":false,"nodes":{"watson-conversation-v1":{"name":"watson-conversation-v1","types":["watson-conversation-v1"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/assistant/v1.js"},"watson-conversation-workspace-manager-v1":{"name":"watson-conversation-workspace-manager-v1","types":["watson-conversation-v1-workspace-manager"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/assistant/v1-workspace-manager.js"},"watson-assistant-v2":{"name":"watson-assistant-v2","types":["watson-assistant-v2"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/assistant/v2.js"},"watson-discovery-v1":{"name":"watson-discovery-v1","types":["watson-discovery-v1"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/discovery/v1.js"},"watson-discovery-v1-document-loader":{"name":"watson-discovery-v1-document-loader","types":["watson-discovery-v1-document-loader"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/discovery/v1-document-loader.js"},"watson-discovery-v1-query-builder":{"name":"watson-discovery-v1-query-builder","types":["watson-discovery-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/discovery/v1-query-builder.js"},"watson-language-translator-v3":{"name":"watson-language-translator-v3","types":["watson-translator"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/language_translator/v3.js"},"watson-doc-translator-v3":{"name":"watson-doc-translator-v3","types":["watson-doc-translator"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/language_translator/v3-doc.js"},"watson-language-translator-identify-v3":{"name":"watson-language-translator-identify-v3","types":["watson-language-translator-identify"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/language_translator_identify/v3.js"},"watson-language-translator-util-v3":{"name":"watson-language-translator-util-v3","types":["watson-translator-util"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/language_translator_util/v3.js"},"watson-natural-language-classifier-v1":{"name":"watson-natural-language-classifier-v1","types":["watson-natural-language-classifier"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/natural_language_classifier/v1.js"},"watson-natural-language-understanding-v1":{"name":"watson-natural-language-understanding-v1","types":["natural-language-understanding"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/natural_language_understanding/v1.js"},"watson-natural-language-understanding-model-manager-v1":{"name":"watson-natural-language-understanding-model-manager-v1","types":["natural-language-understanding-model-manager-v1"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/natural_language_understanding/v1-model-manager.js"},"watson-personality-insights-v3":{"name":"watson-personality-insights-v3","types":["watson-personality-insights-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/personality_insights/v3.js"},"watson-speech-to-text-v1":{"name":"watson-speech-to-text-v1","types":["watson-speech-to-text"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/speech_to_text/v1.js"},"watson-speech-to-text-corpus-builder-v1":{"name":"watson-speech-to-text-corpus-builder-v1","types":["watson-speech-to-text-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/speech_to_text/v1-corpus-builder.js"},"watson-text-to-speech-v1":{"name":"watson-text-to-speech-v1","types":["watson-text-to-speech"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/text_to_speech/v1.js"},"watson-text-to-speech-corpus-builder-v1":{"name":"watson-text-to-speech-corpus-builder-v1","types":["watson-text-to-speech-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/text_to_speech/v1-corpus-builder.js"},"watson-tone-analyzer-v3":{"name":"watson-tone-analyzer-v3","types":["watson-tone-analyzer-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/tone_analyzer/v3.js"},"watson-visual-recognition-v3":{"name":"watson-visual-recognition-v3","types":["visual-recognition-v3","visual-recognition-util-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/visual_recognition/v3.js"},"watson-visual-recognition-collection-utils-v4":{"name":"watson-visual-recognition-collection-utils-v4","types":["visual-recognition-util-v4"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/deps/0/node_modules/node-red-node-watson/services/visual_recognition/v4-collection-utils.js"}}},"node-red-nodes-cf-sqldb-dashdb":{"name":"node-red-nodes-cf-sqldb-dashdb","version":"0.2.28","local":false,"nodes":{"sqldb-dashdb-cf":{"name":"sqldb-dashdb-cf","types":["dashDB","dashDB out","dashDB in"],"enabled":true,"local":false,"module":"node-red-nodes-cf-sqldb-dashdb","file":"/home/vcap/deps/0/node_modules/node-red-nodes-cf-sqldb-dashdb/98-sqldb-dashdb-cf.js"}}},"node-red-dashboard":{"name":"node-red-dashboard","version":"2.23.4","local":false,"nodes":{"ui_base":{"name":"ui_base","types":["ui_base"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_base.js"},"ui_button":{"name":"ui_button","types":["ui_button"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_button.js"},"ui_dropdown":{"name":"ui_dropdown","types":["ui_dropdown"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_dropdown.js"},"ui_switch":{"name":"ui_switch","types":["ui_switch"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_switch.js"},"ui_slider":{"name":"ui_slider","types":["ui_slider"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_slider.js"},"ui_numeric":{"name":"ui_numeric","types":["ui_numeric"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_numeric.js"},"ui_text_input":{"name":"ui_text_input","types":["ui_text_input"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_text_input.js"},"ui_date_picker":{"name":"ui_date_picker","types":["ui_date_picker"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_date_picker.js"},"ui_colour_picker":{"name":"ui_colour_picker","types":["ui_colour_picker"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_colour_picker.js"},"ui_form":{"name":"ui_form","types":["ui_form"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_form.js"},"ui_text":{"name":"ui_text","types":["ui_text"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_text.js"},"ui_gauge":{"name":"ui_gauge","types":["ui_gauge"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_gauge.js"},"ui_chart":{"name":"ui_chart","types":["ui_chart"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_chart.js"},"ui_audio":{"name":"ui_audio","types":["ui_audio"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_audio.js"},"ui_toast":{"name":"ui_toast","types":["ui_toast"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_toast.js"},"ui_ui_control":{"name":"ui_ui_control","types":["ui_ui_control"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_ui_control.js"},"ui_template":{"name":"ui_template","types":["ui_template"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_template.js"},"ui_link":{"name":"ui_link","types":["ui_link"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_link.js"},"ui_tab":{"name":"ui_tab","types":["ui_tab"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_tab.js"},"ui_group":{"name":"ui_group","types":["ui_group"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_group.js"},"ui_spacer":{"name":"ui_spacer","types":["ui_spacer"],"enabled":true,"local":true,"module":"node-red-dashboard","file":"/home/vcap/app/.node-red/node_modules/node-red-dashboard/nodes/ui_spacer.js"}}}},"_credentialSecret":"6243d86a17fdecb24b21f1980a82b9867e8c7a9f662dbbff5a7672a408cf0641","users":{"_":{"editor":{"view":{"view-show-grid":true,"view-snap-grid":true,"view-grid-size":"20","view-node-status":true,"view-node-show-label":true,"view-show-tips":true}}}}}}}
]}