flows.json
[{"id":"9b27ce4e.19152","type":"tab","label":"Flow 1","disabled":true,"info":"{\n  \"array\": [\n    1,\n    2,\n    3\n  ],\n  \"boolean\": true,\n  \"color\": \"gold\",\n  \"null\": null,\n  \"number\": 123,\n  \"object\": {\n    \"a\": \"b\",\n    \"c\": \"d\"\n  },\n  \"string\": \"Hello World\"\n}"},{"id":"7bb57f07.d521a","type":"tab","label":"Diabetic Prediction Model","disabled":false,"info":""},{"id":"2ccacf6c.59531","type":"ui_group","z":"","name":"New","tab":"9dc2c38d.8dc77","order":1,"disp":true,"width":"6","collapse":false},{"id":"9dc2c38d.8dc77","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac1f260e.9d9828","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c1ae355.1ae8","type":"ui_group","z":"","name":"Diabetic Prediction Model","tab":"114531ee.c4775e","order":1,"disp":true,"width":"6","collapse":false},{"id":"114531ee.c4775e","type":"ui_tab","z":"","name":"Enter the Values","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"9b27ce4e.19152","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"HELLO","payload":"Hello Node-RED!","payloadType":"str","x":171,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"9b27ce4e.19152","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"5a3569af.7bc608","type":"ui_form","z":"7bb57f07.d521a","name":"","label":"","group":"9c1ae355.1ae8","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"P","type":"number","required":true,"rows":null},{"label":"Glucose","value":"G","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"BP","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"S","type":"number","required":true,"rows":null},{"label":"Insulin","value":"I","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"DPF","type":"number","required":true,"rows":null},{"label":"Age","value":"A","type":"number","required":true,"rows":null}],"formValue":{"P":"","G":"","BP":"","S":"","I":"","BMI":"","DPF":"","A":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["684e0847.149d48"]]},{"id":"684e0847.149d48","type":"function","z":"7bb57f07.d521a","name":"Global Variables","func":"global.set(\"Pregnancies\",msg.payload.P)\nglobal.set(\"Glucose\",msg.payload.G)\nglobal.set(\"BloodPressure\",msg.payload.BP)\nglobal.set(\"SkinThickness\",msg.payload.S)\nglobal.set(\"Insulin\",msg.payload.I)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.DPF)\nglobal.set(\"Age\",msg.payload.A)\nvar apikey = \"YRqcT5SP6PrN4msqbGMP_0LCp1By3Z0ByUDcZoTc0o_6\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["3ab0c212.5cc4ee","9c947d9d.38a8f"]]},{"id":"3ab0c212.5cc4ee","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":260,"wires":[]},{"id":"9c947d9d.38a8f","type":"http request","z":"7bb57f07.d521a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":40,"wires":[["13f9296c.a79277","acd53c47.c388c"]]},{"id":"13f9296c.a79277","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"acd53c47.c388c","type":"function","z":"7bb57f07.d521a","name":"","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucose = global.get(\"Glucose\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar DiabetesPedigreeFunction = global.get(\"DiabetesPedigreeFunction\")\nvar Age = global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\",\"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\":[[Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["602d23be.a2a52c"]]},{"id":"602d23be.a2a52c","type":"http request","z":"7bb57f07.d521a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/989cea9c-393c-43d5-9e14-d2ac5f6197e5/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["9dfc88f4.86cb88","87c3bc96.efc65"]]},{"id":"87c3bc96.efc65","type":"debug","z":"7bb57f07.d521a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"9dfc88f4.86cb88","type":"function","z":"7bb57f07.d521a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["87c3bc96.efc65","eece5fe9.f3ff"]]},{"id":"eece5fe9.f3ff","type":"ui_text","z":"7bb57f07.d521a","group":"9c1ae355.1ae8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":280,"wires":[]}]